.wrappers
  =render "header"
  .gbl_main
    .gbl_main_title
      .gbl_main_title_container
        .gbl_main_title_container_titles
          %h1.tit.icon_font
            %span.ico
            %i.fas.fa-users-cog
            アカウント編集
  .useredits
    .useredits-line
      .useredits-line_prof
        .useredits-line_prof_main
          .useredits-line_prof_main_user
            .useredits-line_prof_main_user_into
              %h2.useredits-line_prof_main_user_into_acount
                アカウント編集
                -# Edit #{resource_name.to_s.humanize}
              = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                = render "devise/shared/error_messages", resource: resource
                .editusername
                  = f.label :ユーザ名
                  %br/
                  = f.text_field :name, autofocus: true
                .editusermail
                  = f.label :メールアドレス
                  %br/
                  = f.email_field :email, autofocus: true, autocomplete: "email"
                - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                  %div
                    Currently waiting confirmation for: #{resource.unconfirmed_email}
                .edituserform
                  .edituserform_sub
                    .edituserform_sub_box
                      %span.icoicos
                      %span.icoimages
                        %i.fas.fa-portrait
                    .edituserform_sub_image
                      .edituserform_sub_image_box
                      %p.edituserform_sub_image_box_pic
                        = f.file_field :image, class: "image_form"
                        %span.texpic
                          写真アップロード
                  .edituserform_topic
                    .edituserform_topic_tall
                      = f.select :tall,['50cm','60cm','70cm','80cm','90cm','100cm','110cm','120cm','121cm','122cm','123cm','124cm','125cm','126cm','127cm','128cm','129cm','130cm','131cm','132cm','133cm','134cm','135cm','136cm','137cm','138cm','139cm','140cm','141cm','142cm','143cm','144cm','145cm','146cm','147cm','148cm','149cm','150cm','151cm','152cm','153cm','154cm','155cm','156cm','157cm','158cm','159cm','160cm','161cm','162cm','163cm','164cm','165cm','166cm','167cm','168cm','169cm','170cm','171cm','172cm','173cm','174cm','175cm','176cm','177cm','178cm','179cm','180cm','181cm','182cm','183cm','184cm','185cm','186cm','187cm','188cm','189cm','190cm','191cm','192cm','193cm','194cm','195cm','196cm','197cm','198cm','199cm','200cm','210cm','220cm','230cm','240cm','250cm','260cm','270cm']
                    .edituserform_topic_sex
                      = f.select :sex, ['MEN', 'WOMEN']
                    .edituserform_topic_age
                      = f.text_field :age, placeholder: "年齢(歳)"
                  .edituserform_profile
                    = f.label :紹介文
                    %br/
                    = f.text_area :profile, autofocus: true
                  .edituserform_password
                    .edituserform_password_pass
                      = f.label :パスワード
                      -# %i (leave blank if you don't want to change it)
                      %br/
                      = f.password_field :password, autocomplete: "new-password"
                      -# - if @minimum_password_length
                      -#   %br/
                      -#   %em
                      -#     = @minimum_password_length
                      -#     文字以上
                    .edituserform_password_conf
                      = f.label :パスワード確認
                      %br/
                      = f.password_field :password_confirmation, autocomplete: "new-password"
                  .edituserform_passcurent
                    = f.label :現在のパスワード
                    -# %i (we need your current password to confirm your changes)
                    %br/
                    = f.password_field :current_password, autocomplete: "current-password"
                  .edituserform_submit  
                    .edituserform_submit_sub
                      = f.submit "更新", { :class => 'submit-btnaa' }
                  -# %h3 アカウント削除
                -# %p
                -#   #{button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
                = link_to "戻る", :back
    
  =render "footer" 
