.newreg
  .newreg_str
    -# %h2.newreg_str_sign Kstagram
    .newreg_str_main
      %h2 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .newreg_str_items
          .newreg_str_items_user
            = f.text_field :name, autofocus: true , autocomplete:"name",placeholder: "ユーザ名"
          .newreg_str_items_mail
            -# = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス"
          .newreg_str_items_password
            -# = f.label :password
            - if @minimum_password_length
              -# %em
              -#   (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "new-password",placeholder: "パスワード(6文字以上)"
          .newreg_str_items_passconf
            -# = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "パスワード確認"
            %br/
          .newreg_str_items_button
            = f.submit "Sign up"
          = render "devise/shared/links"
        -# = render "devise/shared/error_messages", resource: resource