.mainsmainss
  .mainleft
    .lefttops 
      %h2.timenownow 
        現在の時刻
      .lefttoptop
        =Time.current.strftime("%Y-%m-%d %H:%M")
    .leftcontents
      .leftcontentssss
        %h2.rankname 
          %li.fas.fa-street-view ランキング
        .aska 
          .profaska aa
          .profusersaska
            = image_tag(@tweet.image_url)
        .aska 
          .profaska aa
          .profusersaska
            = image_tag(@tweet.image_url)

        -# - @all_ranks.each.with_index(1) do |tweet, i|
        -#   第
        -#   = i
        -#   位
        -#   = tweet.age
        -# - if @all_ranks.present?
        -# - @all_ranks.each do |tweet|
        -#   =tweet.id
        
        -# %ul.p-rankinglist a
       
    .leftbottom
      .botomhed 
        %h2.tagname 
          %li.fas.fa-tags オススメタグ

  .main
    .mainindex
      - @tweets.each do |tweet|
        .content{:style => "background-image: url(#{tweet.image});"}
          = link_to asset_url("/tweets/#{tweet.id}", method: :get) do
            = image_tag "/tweets/#{tweet.id}", method: :get

          .mainname
            .mainnameleft
              =tweet.user.name
            .mainnameright
              = tweet.updated_at.strftime("%Y-%m-%d %H:%M")
    = paginate(@tweets)
    -# .footer
  