.mainsmainss
  .mainleft
    .lefttops
      .lefttoptop
    .leftcontents
      .leftcontentssss
        %h2.rankname 
        %li.fas.fa-street-view ランキング
        .aska 
        -# - @all_ranks.each do |tweet|
        -#   =tweet.title
        
        %ul.p-rankinglist a
       
    .leftbottom

  .main
    .mainindex
      - @tweets.each do |tweet|
        .content{:style => "background-image: url(#{tweet.image});"}
          = link_to asset_url("/tweets/#{tweet.id}", method: :get) do
            = image_tag "/tweets/#{tweet.id}", method: :get

          .mainname
            .mainnameleft
              =tweet.user.name
            .mainnameright
              = tweet.updated_at.strftime("%Y-%m-%d %H:%M")
    = paginate(@tweets)
    -# .footer
  