.mainsmainss
.main_main
  .main_main_left
    .main_main_left_tops 
      %h2.main_main_left_tops_time 
        現在の時刻
      .lefttop
        =Time.current.strftime("%Y-%m-%d %H:%M")
    .leftcontents
      .leftcontents_top
        %h2.leftcontents_top_rankname 
          %li.fas.fa-street-view ランキング
        .user_rank 
          - @all_ranks.length >= 0
          - @all_ranks.each.with_index(1) do |tweet, i|
            .user_rank_ranks
              第
              = i
              位
            .user_rank_show
              .user_rank_show_image
                %p.user_rank_show_image_names
                  =image_tag(tweet.user.image_url)
              .user_rank_show_name
                %a{:href => "/users/#{tweet.user.id}"}= tweet.user.name
                
          
        
        -# %ul.p-rankinglist a
       
    .leftbottom
      .leftbottom_down 
        %h2.tagname 
          %li.fas.fa-tags オススメタグ
          

  .main
    .main_index
      - @tweets.each do |tweet|
        .content{:style => "background-image: url(#{tweet.image});"}
          = link_to asset_url("/tweets/#{tweet.id}", method: :get) do
            = image_tag "/tweets/#{tweet.id}", method: :get

          .mainname
            .mainname_left
              =tweet.user.name
            .mainname_right
              = tweet.updated_at.strftime("%Y-%m-%d %H:%M")
    = paginate(@tweets)

  