= render_with_hashtags(micropost.content)
- provide(:title, @tag.hashname)
.row
  .col-md-9
    .block1_hash
      = image_tag("hashtag.png")
      .block2_hash
        .name_hash
          = @tag.hashname
        .edit_hash
          = render 'users/follow_form'
        .fllw_hash
          = render 'shared/user_info_default'
          %span{:style => "margin-right:15px;"}
          = render 'shared/stats_default'
.row
  .posted_content
    .col-md-8
      .picture_hash
        = render @micropost
      / .picture
