.wrappers
  = render "header" 
  .gbl_main
    .gbl_title
      .gbl_title_container
        .title_container 
          %h1.tit.icon_font
            %span.ico
            %i.fab.fa-instagram
            %i.stst コーディネート投稿編集
  .glbdaa  
    .gbl_body
      .contentaaa 
        %h3.btnaa
          ファッション画像
        = form_for @tweet do |form| 
          = form.text_field :title, placeholder: "タイトル"
          .sectionimages
            .subsubsub
              .subsubimagebox
                %span.icoico
                %span.icoimage
                  NO IMAGE
            .mainmainimage
              %p.mainajaxmain
                = form.file_field :image, class: "image_form"
                %span.textextx
                  写真アップロード
          = form.select :temp, ['選択してください','-50℃','-40℃','-30℃','-20℃','-10℃','-9℃','-8℃','-7℃','-6℃','-5℃','-4℃','-3℃','-2℃','-1℃','0℃','1℃','2℃','3℃','4℃','5℃','6℃','7℃','8℃','9℃','10℃','11℃','12℃','13℃','14℃','15℃','16℃','17℃','18℃','19℃','20℃','21℃','22℃','23℃','24℃','25℃','26℃','27℃','28℃','29℃','30℃','31℃','32℃','33℃','34℃','35℃','36℃','37℃','38℃','39℃','40℃','41℃','42℃','43℃','44℃','45℃','46℃','47℃','48℃','49℃','50℃','51℃','52℃','53℃','54℃','55℃','56℃', '57℃', '58℃','59℃','60℃','70℃','80℃','90℃','100℃']
          = form.select :typestyle, ['冷え性', '普通', '暑がり']
          = form.select :sex, ['メンズ', 'レディース', 'ユニセックス','キッズ']
          = form.select :tall,['50cm','60cm','70cm','80cm','90cm','100cm','110cm','120cm','121cm','122cm','123cm','124cm','125cm','126cm','127cm','128cm','129cm','130cm','131cm','132cm','133cm','134cm','135cm','136cm','137cm','138cm','139cm','140cm','141cm','142cm','143cm','144cm','145cm','146cm','147cm','148cm','149cm','150cm','151cm','152cm','153cm','154cm','155cm','156cm','157cm','158cm','159cm','160cm','161cm','162cm','163cm','164cm','165cm','166cm','167cm','168cm','169cm','170cm','171cm','172cm','173cm','174cm','175cm','176cm','177cm','178cm','179cm','180cm','181cm','182cm','183cm','184cm','185cm','186cm','187cm','188cm','189cm','190cm','191cm','192cm','193cm','194cm','195cm','196cm','197cm','198cm','199cm','200cm','210cm','220cm','230cm','240cm','250cm','260cm','270cm']
          = form.text_area :text, placeholder: "コーデ詳細", rows: "10"
          = form.submit "投稿する" , { :class => 'submit-btn' }




